# Django
*.pyc
__pycache__/
db.sqlite3

# Media & static files
/media/
/staticfiles/

# Environments
.env
.venv/
.env.*

# VS Code / PyCharm
.vscode/
.idea/
-e "\n# Static & media\nstaticfiles/\nmedia/" 
